<section data-ng-controller="HomeController">


    <div class="container">
        <div class="row">

            <div class="col-md-5 txtvlak lheight">
                <div class="lijn"></div>
                <h2>Hoe werkt animania?</h2>
                <h1>De perfecte match voor jou!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu dolor rhoncus, ullamcorper dolor eget, rutrum neque. Mauris facilisis, lacus eu bibendum lacinia, neque justo rutrum dui, ac maximus arcu mauris sit amet est. In ut ultricies felis. Aenean at fringilla elit, a mollis quam. Morbi vel fermentum diam, quis interdum ante. Cras leo nunc, rutrum ac risus vel, feugiat tristique quam.</p>
            </div>


            <div class="col-md-7 imggroen mheight">
                <img src="modules/core/img/home/voorbeeld.jpg" alt="" class="img-responsive" alt="">
            </div>


            <div class="col-md-2 grnvlak">
                <h2>Een hond of een kat?</h2>
                <h1>Zoek het uit!</h1>
                <a href="/#!/modelviewer" class="vlakbutton" >De matcher</a>
            </div>


            <div class="col-md-7 imggroen mheight">
                <img src="modules/core/img/home/voorbeeldtwee.jpg" alt="" class="img-responsive">
            </div>



            <div class="col-md-5 txtvlak lheight" style="margin-top:-100px;">
                <div class="lijn"></div>
                <h2>In welk opzicht is onze service uniek?</h2>
                <h1>Het beste voor de dieren.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu dolor rhoncus, ullamcorper dolor eget, rutrum neque. Mauris facilisis, lacus eu bibendum lacinia, neque justo rutrum dui, ac maximus arcu mauris sit amet est. In ut ultricies felis. Aenean at fringilla elit, a mollis quam. Morbi vel fermentum diam, quis interdum ante. Cras leo nunc, rutrum ac risus vel, feugiat tristique quam. Proin euismod placerat viverra. Proin sapien tortor, ullamcorper ac vulputate et, malesuada quis justo. Praesent sed odio felis. Ut porta aliquet lorem sed posuere. Nullam posuere ante non dictum tincidunt.</p>
            </div>






        </div>

        <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2 grnvlak" style="margin-left:2px"  id="fade-it">
            <h2>Bent u een asielhouder?</h2>
            <p>Meld u nu aan als erkend dierenasiel en geniet van onze service.</p>
            <h1>Het kost niks!</h1>
        </div>
        <div class="col-md-5 txtvlak mheight" style="margin-top:-85px;">
            <div class="lijn"></div>
            <h2>Van begin tot eind.</h2>
            <h1>Kwaliteit vanaf de eerste ontmoeting.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu dolor rhoncus, ullamcorper dolor eget, rutrum neque. Mauris facilisis, lacus eu bibendum lacinia, neque justo rutrum dui, ac maximus arcu mauris sit amet est. In ut ultricies felis. Aenean at fringilla elit, a mollis quam. Morbi vel fermentum diam, quis interdum ante. Cras leo nunc, rutrum ac risus vt.</p>
        </div>

        <div class="col-md-7 imggroen mheight">
            <img src="modules/core/img/home/voorbeelddrie.jpg" alt="" class="img-responsive" style="margin-left:2px;">
        </div>
    </div>
    </div>

    <!-------Midden banner---------->
<!----
    <div class="container">
        <div class="row">
            <div class="banner">
                <div class="col-md-6 col-md-offset-3">
                    <div class="lijngroen"></div>
                    <h1>De dierenzoeker</h1>
                    <h2>Bekijk de video over hoe wij u koppelen met het best passende dier!</h2>
                    </br>
                    <a href="#" class="vlakbutton" >Bekijk de video</a>
                </div>
            </div>
        </div>
    </div>
--->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#hide").click(function(){
                $("#login").hide();
            });
            $("#show").click(function(){
                $("#login").show();
            });
        });
    </script>
    </body>
</section>
