<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center">Meld aan met behulp van je email</h3>
	<!--<h3 class="col-md-12 text-center">Sign up using your social accounts</h3>-->
	<!--<div class="col-md-12 text-center">-->
		<!--<a href="/auth/facebook" class="undecorated-link">-->
			<!--<img src="/modules/users/img/buttons/facebook.png">-->
		<!--</a>-->
		<!--<a href="/auth/twitter" class="undecorated-link">-->
			<!--<img src="/modules/users/img/buttons/twitter.png">-->
		<!--</a>-->
		<!--<a href="/auth/google" class="undecorated-link">-->
			<!--<img src="/modules/users/img/buttons/google.png">-->
		<!--</a>-->
		<!--<a href="/auth/linkedin" class="undecorated-link">-->
			<!--<img src="/modules/users/img/buttons/linkedin.png">-->
		<!--</a>-->
		<!--<a href="/auth/github" class="undecorated-link">-->
			<!--<img src="/modules/users/img/buttons/github.png">-->
		<!--</a>-->
	<!--</div>-->
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="username">Asiel</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Arnhemse Opvang">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="voorbeeld@email.nl">
				</div>
				<div class="form-group">
					<label for="password">Wachtwoord</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Wachtwoord123.">
				</div>
				<!--Eigen velden voor input-->
				<div class="form-group">
					<label for="adress">Adres</label>
					<input type="text" required id="adress" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="Dorpstraat 7a">
				</div>
				<div class="form-group">
					<label for="postalcode">Postcode</label>
					<input type="text" id="postalcode" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="7895TK">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Meld aan</button>&nbsp; of&nbsp;
					<a href="/#!/signin" class="show-signup">Log in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
