<section data-ng-controller="CatsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Wijzig Kat</h1>
    </div>
    <div class="col-md-12">
        <form name="catForm" class="form-horizontal" data-ng-submit="update(catForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="picture">Afbeelding</label>

                    <div class="controls">
                        <input name="picture" type="text" data-ng-model="cat.picture" id="picture" class="form-control"
                               placeholder="picture" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="age">Leeftijd</label>

                    <div class="controls">
                        <input name="age" type="text" data-ng-model="cat.age" id="age" class="form-control"
                               placeholder="leeftijd" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="eyeColor">Oogkleur</label>

                    <div class="controls">
                        <input name="eyeColor" type="eyeColor" data-ng-model="cat.eyecolor" id="eyeColor"
                               class="form-control" placeholder="oogkleur" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Naam</label>

                    <div class="controls">
                        <input name="name" type="name" data-ng-model="cat.name" id="name" class="form-control"
                               placeholder="naam" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="size">Grootte</label>

                    <div class="controls">
                        <input name="size" type="size" data-ng-model="cat.size" id="size" class="form-control"
                               placeholder="grootte" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="gender">Geslacht</label>

                    <div class="controls">
                        <input name="gender" type="gender" data-ng-model="cat.gender" id="gender" class="form-control"
                               placeholder="geslacht" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="breedgroup">Haarlengte</label>

                    <div class="controls">
                        <input name="breedgroup" type="breedgroup" data-ng-model="cat.breedgroup" id="breedgroup"
                               class="form-control" placeholder="haarlengte" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="kids">Kan met kinderen omgaan?</label>

                    <div class="controls">
                        <input name="kids" type="kids" data-ng-model="cat.kids" id="kids" class="form-control"
                               placeholder="kinderen" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="residence">Omgeving?</label>

                    <div class="controls">
                        <input name="residence" type="residence" data-ng-model="cat.residence" id="residence" class="form-control"
                               placeholder="omgeving" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="playful">Speels?</label>

                    <div class="controls">
                        <input name="playful" type="playful" data-ng-model="cat.playful" id="playful" class="form-control"
                               placeholder="speels" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="companions">Kan met andere dieren omgaan?</label>

                    <div class="controls">
                        <input name="companions" type="companions" data-ng-model="cat.companions" id="companions" class="form-control"
                               placeholder="andere dieren" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="website">Website</label>

                    <div class="controls">
                        <input name="website" type="website" data-ng-model="cat.website" id="website" class="form-control"
                               placeholder="website" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="about">Over</label>

                    <div class="controls">
                        <input name="about" type="about" data-ng-model="cat.about" id="about" class="form-control"
                               placeholder="beschrijving" required>
                    </div>
                </div>
                <div ng-show="submitted && catForm.content.$invalid" class="help-block">
                    <p ng-show="catForm.content.$error.required" class="text-danger">Inhoud is verplicht</p>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
