<section data-ng-controller="CatsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Wijzig Kat</h1>
    </div>
    <div class="col-md-12">
        <form name="catForm" class="form-horizontal" data-ng-submit="update(catForm.$valid)" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="age">Leeftijd</label>

                    <div class="controls">
                        <select name="age" data-ng-model="cat.age" id="age" class="form-control"
                                placeholder="Leeftijd">
                            <option value="Kitten">Kitten</option>
                            <option value="Jong">Jong</option>
                            <option value="Volwassen">Volwassen</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="eyeColor">Oogkleur</label>

                    <div class="controls">
                        <input name="eyeColor" type="eyeColor" data-ng-model="cat.eyecolor" id="eyeColor"
                               class="form-control" placeholder="oogkleur" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Naam</label>

                    <div class="controls">
                        <input name="name" type="name" data-ng-model="cat.name" id="name" class="form-control"
                               placeholder="naam" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="size">Grootte</label>

                    <div class="controls">
                        <select name="size" data-ng-model="cat.size" id="size" class="form-control"
                                placeholder="Grootte">
                            <option value="Kort">Kort</option>
                            <option value="Gemiddeld">Gemiddeld</option>
                            <option value="Groot">Groot</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="gender">Geslacht</label>

                    <div class="controls">
                        <select name="gender" data-ng-model="cat.gender" id="gender" class="form-control"
                                placeholder="Geslacht">
                            <option value="Vrouwelijk">Vrouwelijk</option>
                            <option value="Mannelijk">Mannelijk</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="breedgroup">Haarlengte</label>

                    <div class="controls">
                        <select name="breedgroup" data-ng-model="cat.breedgroup" id="breedgroup" class="form-control"
                                placeholder="Haarlengte">
                            <option value="Kortharig">Kortharig</option>
                            <option value="Langharig">Langharig</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="kids">Kan met kinderen omgaan?</label>

                    <div class="controls">
                        <select name="kids" data-ng-model="cat.kids" id="kids" class="form-control"
                                placeholder="Kinderen?">
                            <option value="Ja">Ja</option>
                            <option value="Nee">Nee</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="residence">Omgeving?</label>

                    <div class="controls">
                        <select name="residence" data-ng-model="cat.residence" id="residence" class="form-control"
                                placeholder="Omgeving">
                            <option value="Binnenkat">Binnenkat</option>
                            <option value="Buitenkat">Buitenkat</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="playful">Speels?</label>

                    <div class="controls">
                        <select name="playful" data-ng-model="cat.playful" id="playful" class="form-control"
                                placeholder="Speels?">
                            <option value="Yes">Ja</option>
                            <option value="No">Nee</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="companions">Kan met andere dieren omgaan?</label>

                    <div class="controls">
                        <select name="companions" data-ng-model="cat.companions" id="companions" class="form-control"
                                placeholder="Andere dieren?">
                            <option value="Ja">Ja</option>
                            <option value="Nee">Nee</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="website">Website</label>

                    <div class="controls">
                        <input name="website" type="website" data-ng-model="cat.website" id="website" class="form-control"
                               placeholder="website" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="about">Over</label>

                    <div class="controls">
                        <input name="about" type="about" data-ng-model="cat.about" id="about" class="form-control"
                               placeholder="beschrijving" required>
                    </div>
                </div>
                <div ng-show="submitted && catForm.content.$invalid" class="help-block">
                    <p ng-show="catForm.content.$error.required" class="text-danger">Inhoud is verplicht</p>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
