<section data-ng-controller="CatsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="cat.name"></h1>
    </div>
    <div class="pull-right" data-ng-show="authentication.user._id == cat.user._id">
        <a class="btn btn-primary" href="/#!/cats/{{cat._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div class="col-md-12">
        <form name="catForm" class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="picture">Afbeelding</label>

                    <div class="controls">
                        <p id="picture"><img src="{{cat.picture}}" height="200px"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="age">Leeftijd</label>

                    <div class="controls">
                        <input readonly name="age" type="text"  id="age" class="form-control" data-ng-model="cat.age"
                               placeholder="leeftijd" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="eyeColor">Oogkleur</label>

                    <div class="controls">
                        <input readonly name="eyeColor" type="eyeColor" data-ng-model="cat.eyecolor" id="eyeColor"
                               class="form-control" placeholder="oogkleur" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="size">Grootte</label>

                    <div class="controls">
                        <input readonly name="size" type="size" data-ng-model="cat.size" id="size" class="form-control"
                               placeholder="grootte" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="gender">Geslacht</label>

                    <div class="controls">
                        <input readonly name="gender" type="gender" data-ng-model="cat.gender" id="gender"
                               class="form-control"
                               placeholder="geslacht" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="breedgroup">Haarlengte</label>

                    <div class="controls">
                        <input readonly name="breedgroup" type="breedgroup" data-ng-model="cat.breedgroup"
                               id="breedgroup"
                               class="form-control" placeholder="haarlengte" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="kids">Kan met kinderen omgaan?</label>

                    <div class="controls">
                        <input readonly name="kids" type="kids" data-ng-model="cat.kids" id="kids" class="form-control"
                               placeholder="kinderen" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="residence">Omgeving?</label>

                    <div class="controls">
                        <input readonly name="residence" type="residence" data-ng-model="cat.residence" id="residence"
                               class="form-control"
                               placeholder="omgeving" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="playful">Speels?</label>

                    <div class="controls">
                        <input readonly name="playful" type="playful" data-ng-model="cat.playful" id="playful"
                               class="form-control"
                               placeholder="speels" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="companions">Kan met andere dieren omgaan?</label>

                    <div class="controls">
                        <input readonly name="companions" type="companions" data-ng-model="cat.companions"
                               id="companions" class="form-control"
                               placeholder="andere dieren" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="website">Website</label>

                    <div class="controls">
                        <input readonly name="website" type="website" data-ng-model="cat.website"
                               id="website" class="form-control"
                               placeholder="Website" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="about">Over</label>

                    <div class="controls">
                        <input readonly name="about" type="about" data-ng-model="cat.about" id="about"
                               class="form-control"
                               placeholder="over" required>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>
