<section data-ng-controller="CatsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="cat.name"></h1>
    </div>
    <div class="pull-right" data-ng-show="authentication.user._id == cat.user._id">
        <a class="btn btn-primary" href="/#!/cats/{{cat._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div class="col-md-12">
        <form name="catForm" class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="picture"></label>

                    <div class="controls">
                        <p id="picture"><img src="{{cat.picture}}" height="200px"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="age">Age</label>

                    <div class="controls">
                        <input readonly name="age" type="text" data-ng-model="cat.age" id="age" class="form-control"
                               placeholder="age" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="eyeColor">Eyecolor</label>

                    <div class="controls">
                        <input readonly name="eyeColor" type="eyeColor" data-ng-model="cat.eyecolor" id="eyeColor"
                               class="form-control" placeholder="eyeColor" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="size">Size</label>

                    <div class="controls">
                        <input readonly name="size" type="size" data-ng-model="cat.size" id="size" class="form-control"
                               placeholder="size" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="gender">Gender</label>

                    <div class="controls">
                        <input readonly name="gender" type="gender" data-ng-model="cat.gender" id="gender" class="form-control"
                               placeholder="gender" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="breedgroup">Breedgroup</label>

                    <div class="controls">
                        <input readonly name="breedgroup" type="breedgroup" data-ng-model="cat.breedgroup" id="breedgroup"
                               class="form-control" placeholder="breedgroup" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="kids">Kids</label>

                    <div class="controls">
                        <input readonly name="kids" type="kids" data-ng-model="cat.kids" id="kids" class="form-control"
                               placeholder="kids" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="residence">Residence</label>

                    <div class="controls">
                        <input readonly name="residence" type="residence" data-ng-model="cat.residence" id="residence" class="form-control"
                               placeholder="residence" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="playful">Playful</label>

                    <div class="controls">
                        <input readonly name="playful" type="playful" data-ng-model="cat.playful" id="playful" class="form-control"
                               placeholder="Playful" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="companions">Companions</label>

                    <div class="controls">
                        <input readonly name="companions" type="companions" data-ng-model="cat.companions" id="companions" class="form-control"
                               placeholder="Companions" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="about">About</label>

                    <div class="controls">
                        <input readonly name="about" type="about" data-ng-model="cat.about" id="about" class="form-control"
                               placeholder="about" required>
                    </div>
                </div>
               </fieldset>
            </form>
        </div>
</section>
