<section data-ng-controller="DogsController">
    <div class="page-header">
        <h1>Nieuwe hond</h1>
    </div>
    <div class="col-md-12">
        <form name="dogForm" class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Naam</label>

                    <div class="controls">
                        <textarea name="name" data-ng-model="name" id="name" class="form-control"
                                  placeholder="Naam"></textarea>
                    </div>
                </div>
                <div flow-init="{singleFile:true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                     class="ng-scope">
                    <h3>
                        <a name="image-example" class="anchor" href="#image-example"><span
                                class="octicon octicon-link"></span></a></h3>

                    <div class="thumbnail" ng-show="!$flow.files.length">
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
                    </div>
                    <div class="thumbnail ng-hide" ng-show="$flow.files.length">
                        <img id="newImage" flow-img="$flow.files[0]">
                    </div>
                    <div>
                        <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn>Selecteer een afbeelding<input
                                type="file" style="visibility: hidden; position: absolute;"></span>
                        <span class="btn btn-info ng-hide" ng-show="$flow.files.length" flow-btn>Verander de afbeelding<input
                                type="file" style="visibility: hidden; position: absolute;"></span>
                    <span class="btn btn-danger ng-hide" ng-show="$flow.files.length"
                          ng-click="$flow.cancel()">Verwijder de afbeelding</span>
                    </div>
                    <p>
                        Alleen PNG,GIF,JPG,JEPG bestanden zijn toegestaan.
                    </p>
                </div>
                <div class="form-group">
                    <label class="control-label" for="age">Leeftijd</label>
                    <select name="age" data-ng-model="age" id="age" class="form-control"
                            placeholder="Leeftijd">
                        <option value="Puppy">Puppy</option>
                        <option value="Jong">Jong</option>
                        <option value="Volwassen">Volwassen</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label" for="eyecolor">Oogkleur</label>

                    <div class="controls">
                        <textarea name="eyecolor" data-ng-model="eyecolor" id="eyecolor" class="form-control"
                                  placeholder="Oogkleur"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="gender">Geslacht</label>

                    <div class="controls">
                        <select name="gender" data-ng-model="gender" id="gender" class="form-control"
                                placeholder="Geslacht">
                            <option value="Vrouwelijk">Vrouwelijk</option>
                            <option value="Mannelijk">Mannelijk</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="size">Grootte</label>

                    <div class="controls">
                        <select name="size" data-ng-model="size" id="size" class="form-control"
                                placeholder="Grootte">
                            <option value="Klein">Klein</option>
                            <option value="Gemiddeld">Gemiddeld</option>
                            <option value="Groot">Groot</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="breedgroup">Haar lengte</label>

                    <div class="controls">
                        <select name="breedgroup" data-ng-model="breedgroup" id="breedgroup" class="form-control"
                                placeholder="Haar lengte">
                            <option value="Kort harig">Kort harig</option>
                            <option value="Lang harig">Lang harig</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="kids">Kan met kinderen omgaan?</label>

                    <div class="controls">
                        <select name="kids" data-ng-model="kids" id="kids" class="form-control"
                                placeholder="Kinderen">
                            <option value="Ja">Ja</option>
                            <option value="Nee">Nee</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="residence">Omgeving</label>

                    <div class="controls">
                        <select name="residence" data-ng-model="residence" id="residence" class="form-control"
                                placeholder="Omgeving">
                            <option value="Binnen">Binnen</option>
                            <option value="Buiten">Buiten</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="playful">Speels</label>

                    <div class="controls">
                        <select name="playful" data-ng-model="playful" id="playful" class="form-control"
                                placeholder="Speels">
                            <option value="Ja">Ja</option>
                            <option value="Nee">Nee</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="companions">Kan met andere dieren omgaan</label>

                    <div class="controls">
                        <select name="companions" data-ng-model="companions" id="companions" class="form-control"
                                placeholder="Andere dieren?">
                            <option value="Ja">Ja</option>
                            <option value="Nee">Nee</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="website">Website van het asiel</label>

                    <div class="controls">
                        <textarea name="website" data-ng-model="website" id="website" class="form-control"
                                  placeholder="Website"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="about">Over</label>

                    <div class="controls">
                        <textarea name="about" data-ng-model="about" id="about" class="form-control"
                                  placeholder="Beschrijving"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>
