<section data-ng-controller="DogsController">
	<div class="page-header">
		<h1>New Dog</h1>
	</div>
	<div class="col-md-12">
		<form name="articleForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
					<label class="control-label" for="animaltype">Animaltype</label>
					<div class="controls">
						<input name="animaltype" type="text" data-ng-model="animaltype" id="animaltype" class="form-control" placeholder="animaltype" required>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="About">About</label>
					<div class="controls">
						<textarea name="About" data-ng-model="About" id="About" class="form-control" cols="30" rows="10" placeholder="About"></textarea>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
