<section data-ng-controller="DogsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="dog.name"></h1>
    </div>
    <div class="pull-right" data-ng-show="authentication.user._id == dog.user._id">
        <a class="btn btn-primary" href="/#!/dogs/{{dog._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
    <div class="col-md-12">
        <form name="dogForm" class="form-horizontal">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="picture"></label>

                    <div class="controls">
                        <p id="picture"><img src="{{dog.picture}}" height="200px" alt="picture"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="age">Leeftijd</label>

                    <div class="controls">
                        <input readonly name="age" type="text" data-ng-model="dog.age" id="age" class="form-control"
                               placeholder="Leeftijd" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="eyeColor">Oogkleur</label>

                    <div class="controls">
                        <input readonly name="eyeColor" type="eyeColor" data-ng-model="dog.eyecolor" id="eyeColor"
                               class="form-control" placeholder="Oogkleur" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="size">Grootte</label>

                    <div class="controls">
                        <input readonly name="size" type="size" data-ng-model="dog.size" id="size" class="form-control"
                               placeholder="Grootte" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="gender">Geslacht</label>

                    <div class="controls">
                        <input readonly name="gender" type="gender" data-ng-model="dog.gender" id="gender" class="form-control"
                               placeholder="Geslacht" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="breedgroup">Haarlengte</label>

                    <div class="controls">
                        <input readonly name="breedgroup" type="breedgroup" data-ng-model="dog.breedgroup" id="breedgroup"
                               class="form-control" placeholder="Haarlengte" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="kids">Kan met kinderen omgaan?</label>

                    <div class="controls">
                        <input readonly name="kids" type="kids" data-ng-model="dog.kids" id="kids" class="form-control"
                               placeholder="Kinderen" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="residence">Omgeving</label>

                    <div class="controls">
                        <input readonly name="residence" type="residence" data-ng-model="dog.residence" id="residence" class="form-control"
                               placeholder="Omgeving" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="playful">Speels</label>

                    <div class="controls">
                        <input readonly name="playful" type="playful" data-ng-model="dog.playful" id="playful" class="form-control"
                               placeholder="Speels" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="companions">Kan met andere dieren omgaan?</label>

                    <div class="controls">
                        <input readonly name="companions" type="companions" data-ng-model="dog.companions" id="companions" class="form-control"
                               placeholder="Andere dieren" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="website">Website</label>

                    <div class="controls">
                        <input readonly name="website" type="website" data-ng-model="dog.website" id="website" class="form-control"
                               placeholder="Website" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="about">Over</label>

                    <div class="controls">
                        <input readonly name="about" type="about" data-ng-model="dog.about" id="about" class="form-control"
                               placeholder="Over" required>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>
